AivenServiceAutomation.json
{
  "name": "AivenAutomation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        80
      ],
      "id": "60ba53ea-0b4f-4f5f-b2bd-d654e37cadfe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "YOUR_AIVEN_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "aivenv1 ACESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        80
      ],
      "id": "549fd83f-13d6-4e35-b59a-8cd026d1848c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f015fe5-5c2a-4f76-926a-5cd6f3e3034d",
              "leftValue": "={{ $json.service.state }}",
              "rightValue": "RUNNING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        80
      ],
      "id": "897a39bf-a28d-4fbc-94f3-d2542f561a48",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ENTER_YOUR_EMAIL",
        "subject": "Your Aiven Console is Accessed",
        "emailType": "text",
        "message": "=Hi ENTER_YOUR_NAME, I am Aiven Automation. Your Service is  {{ $json.service.state }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        -16
      ],
      "id": "88891431-3eab-48c7-97bf-47ef83eede13",
      "name": "Send a message",
      "webhookId": "006f830e-6fb5-476f-8095-e5e86b0e28c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "7c3Dq2jYFa7y4RzS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Aiven Automation Stopped"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "3092da80-6d20-429c-9f7a-dbc7a1b6c3a9",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b52d31ea-e842-423e-8725-172266f018ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "168d5ee5d477982a9ac759339ef179c7ee2891c89f99225aa60fd40e71d93a4f"
  },
  "id": "4JWXS1PQBDMG80og",
  "tags": []
}